body {
  height: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-size: 12px;
  background-color: #F5F5F5;
  color: #333;
  padding: 0;
  margin: 0;
  font-family: '微软雅黑', 'Microsoft Yahei', 'Montserrat';
  font-weight: 400;
}

label {
  font-weight: 700;
}

html {
  height: 100%;
  box-sizing: border-box;
}

img {
  border: 0 none;
}

ul,
li,
ol {
  list-style-type: none;
}

.cooSelect,
.coo {
  /deep/ .el-select-dropdown__item.selected {
    color: #ECBE73;
  }
}

.details {
  position: relative;

  /deep/ .el-dialog__header {
    padding: 20px 20px 40px;
    background: #000;
  }
}

.el-dropdown-menu {
  width: 250px;
}

.el-dropdown-menu__item:focus,
.el-dropdown-menu__item:not(.is-disabled):hover {
  background-color: #efe8e0;
  color: #CF913F;
}

/deep/ .el-dropdown-menu__item:focus,
.el-dropdown-menu__item:not(.is-disabled):hover {
  color: #CF913F;
}

.area {

  /deep/ .el-input.is-active .el-input__inner,
  .el-input__inner:focus {
    border-color: #ECBE73 !important;
  }
}



#app {
  height: 100%;
  width: 100%;
  position: relative;
  min-width: 1200px;
  padding: 0;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  outline: none;
  text-decoration: none;
}

div:focus {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

.clearfix {
  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
}

p,
ul,
ol,
dl,
dt,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
form,
input,
select,
textarea,
iframe {
  margin: 0;
  padding: 0;
}

i {
  font-style: normal;
}